{
  "extends": "google",
  "env": {
    "serviceworker": true,
    "browser": true
  },
  "rules": {
    "max-nested-callbacks": 0,
    "valid-jsdoc": [
      2,
      {
        "requireParamDescription": false,
        "requireReturnDescription": false,
        "prefer": {
          "return": "returns"
        }
      }
    ],
    "no-warning-comments": 0
  },
  "parserOptions": {
    "ecmaVersion": 2017
  }
}
