.DS_Store
build
lerna-debug.log
node_modules
npm-debug.log
packages/**/LICENSE
temp
tmp-*
!packages/workbox-cli/test/static/example-project-1/node_modules
coverage/
generated-release-files/
workbox-*.json
.esm-cache/
.nyc_output/
.rpt2_cache/
docs
local-builds/
firebase-debug.log
.firebase

# Generated TypeScript files and build data
tsconfig.tsbuildinfo
packages/workbox-*/**/*.d.ts
!packages/workbox-*/src/**/*.d.ts
packages/workbox-*/**/*.js
!packages/workbox-build/**/*.js
!packages/workbox-webpack-plugin/**/*.js

# Individual package ignores during TypeScript migration
packages/workbox-background-sync/**/*.mjs
packages/workbox-broadcast-update/**/*.mjs
packages/workbox-cacheable-response/**/*.mjs
packages/workbox-core/**/*.mjs
packages/workbox-expiration/**/*.mjs
packages/workbox-google-analytics/**/*.mjs
packages/workbox-navigation-preload/**/*.mjs
packages/workbox-precaching/**/*.mjs
packages/workbox-range-requests/**/*.mjs
packages/workbox-recipes/**/*.mjs
packages/workbox-routing/**/*.mjs
packages/workbox-strategies/**/*.mjs
packages/workbox-streams/**/*.mjs
packages/workbox-window/**/*.mjs
