.DS_Store
builds
lerna-debug.log
node_modules
npm-debug.log
packages/**/LICENSE
temp
tmp-*
!packages/workbox-cli/test/static/example-project-1/node_modules
bundle-builds/
coverage/
generated-release-files/
workbox-cdn-service-account.json
.esm-cache/
.nyc_output/
