<?js
var data = obj;
var self = this;

var attribs = data.attribs;
if (data.kind !== 'typedef' && !attribs) {
  attribs = '<span class="this">this.</span>';
}
?>
<div class="collapsing-entry member-type-<?js= data.kind ?>">
<h4 class="js-collapse-title" id="<?js= id ?>"><?js= attribs + name + (data.signature ? data.signature : '') ?></h4>

<div class="collapse-details js-collapse-details">

<?js if (data.summary) { ?>
<p class="summary"><?js= summary ?></p>
<?js } ?>

<?js if (data.description) { ?>
<div class="description">
    <?js= data.description ?>
</div>
<?js } ?>

<?js if (data.examples && examples.length) { ?>
    <h5>Example<?js= examples.length > 1? 's':'' ?></h5>
    <?js= this.partial('examples.tmpl', examples) ?>
<?js } ?>

<?js= this.partial('details.tmpl', data) ?>

<?js if (data.fires && fires.length) { ?>
    <h5>Fires:</h5>
    <ul><?js fires.forEach(function(f) { ?>
        <li><?js= self.linkto(f) ?></li>
    <?js }); ?></ul>
<?js } ?>
</div>
</div>
