<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <ol>
          <li>Open DevTools</li>
          <li>Go to the Console</li>
          <li>Click this button:<br /><button class="install-sw btn btn-outline-primary">Install Service Worker</button></li>
          <li><strong>Refresh the page</strong></li>
          <li>Notice that the image '/demo/workbox-routing/demo-img.png' was routed and is now a party popper</li>
        </ol>

        <img src="/demo/workbox-routing/demo-img.png" style="width: 300px; height: 300px;"/>
      </div>
    </div>
  </div>
</section>

<script>
  const firstBtn = document.querySelector('.install-sw');

  firstBtn.addEventListener('click', () => {
    navigator.serviceWorker.register('/demo/workbox-routing/sw.js');
  });
</script>
