<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <ol>
          <li>Open DevTools</li>
          <li>Go to the Console</li>
          <li><p><button class="add-iframe btn btn-outline-primary">Add iframe</button></p></li>
        </ol>
      </div>
    </div>
  </div>
</section>

<script>
  window.addEventListener('load', async () => {
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('sw.js');
      await navigator.serviceWorker.ready;
      document.querySelector('.add-iframe').addEventListener('click', (event) => {
        const iframe = document.createElement('iframe');
        iframe.src = `./iframe/${Math.random()}`;
        event.target.parentElement.parentElement.appendChild(iframe);
      });
    }
  });
</script>
