<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <ol>
          <li>Open DevTools</li>
          <li>Go to the Console</li>
          <li>Click any of the buttons below and view the logs:
            <ul>
              <li><p><button class="with-good-header btn btn-outline-primary">With 'X-Is-Cacheable: true' Header</button></p></li>
              <li><p><button class="with-bad-header btn btn-outline-primary">With 'X-Is-Cacheable: false' Header</button></p></li>
              <li><p><button class="without-header btn btn-outline-primary">Without 'X-Is-Cacheable' Header</button></p></li>
            </ul>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>

<script>
  const withGoodHeaderBtn = document.querySelector('.with-good-header');
  const withBadHeaderBtn = document.querySelector('.with-bad-header');
  const withoutHeaderBtn = document.querySelector('.without-header');

  const DEMO_REQUEST_URL = '/api/is-response-cacheable';

  window.addEventListener('load', () => {
    navigator.serviceWorker.register('/demo/workbox-cacheable-response/sw.js')
    .then(() => {
      withGoodHeaderBtn.addEventListener('click', () => {
        fetch(DEMO_REQUEST_URL, {
          headers: {
            'X-Is-Cacheable': true
          }
        });

        withBadHeaderBtn.addEventListener('click', () => {
          fetch(DEMO_REQUEST_URL, {
            headers: {
              'X-Is-Cacheable': false
            }
          });
        });

        withoutHeaderBtn.addEventListener('click', () => {
          fetch(DEMO_REQUEST_URL);
        });
      });
    });
  });
</script>
