<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <ol>
          <li>Open DevTools</li>
          <li>Go to the Console</li>
          <li>Click this button:<br /><button class="install-sw btn btn-outline-primary">Install Service Worker</button></li>
          <li>Checkout the logs for info on Workbox and getting started.</li>
        </ol>

        <!-- Image will be stored in a custom cache -->
        <img src="/demo/workbox-routing/demo-img.png" style="width: 300px; height: 300px;"/>
      </div>
    </div>
  </div>
</section>

<script>
  const installSWBtn = document.querySelector('.install-sw');
  installSWBtn.addEventListener('click', () => {
    navigator.serviceWorker.register('/demo/workbox-sw/sw.js');
  });
</script>
