<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <ol>
          <li>Open DevTools</li>
          <li>Go to the Console</li>
          <li>Click any of the buttons below and view the logs:
            <ul>
              <li><p><button class="trigger-broadcast btn btn-outline-primary">Trigger a Broadcast</button></p></li>
            </ul>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>

<script>
  const triggerBroadcast = document.querySelector('.trigger-broadcast');

  const broadcastChannel = new BroadcastChannel('broadcast-demo');
  broadcastChannel.onmessage = (ev) => {
    console.log(`Received a message on 'broadcast-demo' channel.`);
    console.log(ev.data);
  };

  window.addEventListener('load', () => {
    navigator.serviceWorker.register('/demo/workbox-broadcast-update/sw.js')
    .then((reg) => {
      triggerBroadcast.addEventListener('click', () => {
        const message = {
          command: 'trigger-broadcast',
        };
        reg.active.postMessage(message);
      });
    });
  });
</script>
