<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <ol>
          <li>Open DevTools</li>
          <li>Go to the Console</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<script>
  window.addEventListener('load', () => {
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('sw.js');
    }
  });
</script>
