<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <ol>
          <li>Open DevTools</li>
          <li>Go to the Console</li>
          <li>Click this button to request range 1 - 4 of 'hello, world.':<br /><button class="make-range-request btn btn-outline-primary">Make Range Request</button></li>
          <li>Checkout the logs for info on the range request that was handled.</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<script>
  const makeRequestBtn = document.querySelector('.make-range-request');

  caches.open('range-requests-demo')
  .then((cache) => cache.put('/range-request-example', new Response('hello, world.')));

  navigator.serviceWorker.register('/demo/workbox-range-requests/sw.js')
  .then(() => {
    makeRequestBtn.addEventListener('click', () => {
      fetch(new Request('/range-request-example', {
        headers: {
          Range: `bytes=1-4`,
        }
      }))
      .then((response) => response.text())
      .then((responseText) => {
        console.log(`Received response: '${responseText}'`);
      });
    });
  });
</script>
