<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <ol>
          <li><a href='https://developers.google.com/web/tools/chrome-devtools/#open'>Open DevTools.</a></li>
          <li>Switch to the Network panel.</li>
          <li>Toggle `Disable cache` checkbox on (it's unchecked by default).</li>
          <li>Click `Make Fetch request` button below.</li>
          <li>Observe that request is successfully completed with status 200.</li>
          <li>Disconnect from actual network (DevTools offline doesn't work for background sync).</li>
          <li>Again, click `Make Fetch request` button below.</li>
          <li>Observe that request is aborted due to no network.</li>
          <li>Connect to your network and observe the Network panel in DevTools.</li>
          <li>Once the network is connected, you will see that the request is retried automatically upon the `sync` event.</li>
        </ol>
      </div>
      <div class="col-lg-8 mx-auto">
        <button class="fetch btn btn-primary">Make fetch request</button>
      </div>
    </div>
  </div>
</section>

<script>
  document.querySelector('.fetch').addEventListener('click', () => {
    fetch('./example.txt');
  });

  navigator.serviceWorker.register('/demo/workbox-background-sync/sw.js');
</script>
