footer {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-grey);
  padding: calc(var(--vertical-spacing) * 8) calc(var(--horizontal-spacing) * 6);
}

.footer__logo-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin-bottom: calc(var(--vertical-spacing) * 8);
}

.footer__logo-row:last-child {
  margin-bottom: 0;
}

.footer__project-logos a {
  display: inline-block;
  height: 42px;
  text-decoration: none;
}

.footer__project-logos a img {
  height: 42px;
}

.footer__btn {
  display: inline-block;
}

.footer__workbox-btn {
  text-align: center;
  margin-bottom: calc(var(--vertical-spacing) * 8);
}

.footer__workbox-btn img {
  max-height: calc(var(--vertical-spacing) * 7);
}

@media (min-width: 700px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
    padding: calc(var(--vertical-spacing) * 12) calc(var(--horizontal-spacing) * 8);
  }

  .footer__right-logos {
    padding-top: calc(var(--vertical-spacing) * 3);
  }

  .footer__workbox-btn img {
    max-height: calc(var(--vertical-spacing) * 12);
  }
}
