.primary-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-grey);
  color: var(--dark-grey);
}

.primary-header h1 {
  margin: 0;
  text-indent: 9999999px;
  overflow: hidden;
}

.primary-header__inner-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 80%;
  height: calc(var(--vertical-spacing) * 8);
  margin: calc(var(--vertical-spacing) * 12) calc(var(--horizontal-spacing) * 4);
  background-image: url('../../images/workbox-logo-grey.min.svg');
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 700px) {
  .primary-header__inner-section {
    height: calc(var(--vertical-spacing) * 15);
    margin: calc(var(--vertical-spacing) * 12) calc(var(--horizontal-spacing) * 4);
  }
}
