:root {
  --dark-grey:  #616261;
  --light-grey: #f5f5f5;
  --workbox-orange: #ED6D23;

  --btn-bg-color: #fcb64d;
  --btn-bg-color-hover: #f47c20;
  --code-bg-color: #fff3e1;
  --link-color: #f17e33;

  --nav-unselected-color-mobile: var(--dark-grey);
  --nav-unselected-color-desktop: #b6b7b6;
  --nav-hover-color: #dadbda;
  --nav-selected-color-mobile: var(--workbox-orange);
  --nav-selected-color-desktop: #ffffff;
  --mobile-nav-bg-color: #f5f5f5;
  --nav-backdrop-color: rgba(0, 0, 0, 0.8);
  --menu-close-btn-color: var(--workbox-orange);

  --callout-gradient-left: #ed6d23;
  --callout-gradient-right: #e86024;

  --header-bg: var(--dark-grey);
  --footer-bg: var(--dark-grey);

  --hr-color: #fcad37;

  --page-header-color: #ffffff;
  --code-bg-color: var(--light-grey);
}
