{{#each modules}}
  <section id="{{name}}">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>{{name}}</h2>
        <p>
          {{#if hasDemo}}
          <a class="btn btn-outline-primary" href="/demo/{{name}}/">Demo</a>
          {{/if}}
        </p>
      </div>
    </div>
  </div>
</section>
{{/each}}

